.con {
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #b8b8b8;

        .headerLeftBox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            .title {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .body {
        width: 100%;

        .previewPageBox {
            .detailsBox {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding: 20px;

                .details {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 4px;

                    label {
                        width: 100%;
                        font-size: 14px;
                        font-weight: 500;
                        color: #828282;
                    }

                    .content {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                        color: #00235a;

                    }
                }
            }
        }

        .footerPageBox {
            margin-top: 40px;
            display: flex;
            justify-content: flex-end;

            .previewBtn {
                background: #ff6b00;
                color: #fff;
                padding: 18px;
            }
        }
    }
}