.operatorCon {
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid #b8b8b8;

        .title {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .body {
        width: 100%;
        padding: 10px;
    }
}